nav {
  margin: 0px;
  opacity: 40%;
  position: absolute;
  top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  height: 80px;
  border-bottom: 1px solid white; }
  nav .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.4rem; }
  nav ul .nav-link {
    font-size: 20px; }
  nav ul form {
    background-color: white;
    border-radius: 10px;
    border: 5px solid #ccc; }
    nav ul form input {
      border-radius: 10px;
      padding-left: 10px;
      border: none;
      height: 32px;
      width: 200px; }
    nav ul form input:focus {
      outline: none; }
    nav ul form i {
      background-color: white;
      padding: 7px;
      border: 0px; }
    nav ul form button {
      background-color: white; }
  nav .btn {
    border-radius: 10px; }
  nav #upload-link {
    color: black;
    text-decoration: none; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1.35rem;
  margin: 0; }

#homeImage {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  margin-top: -80px;
  display: flex;
  align-items: center; }
  #homeImage span h1 {
    font-size: 4rem; }
  #homeImage span .btn {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 12x; }

#login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px; }
  #login .form {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    padding: 20px; }
    #login .form input {
      border-radius: 5px;
      padding: 5px; }
    #login .form button {
      width: 100%; }
  #login .hide {
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear; }
  #login .show {
    opacity: 1;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear; }

#register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -80px; }
  #register .form {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    padding: 20px; }
    #register .form input {
      border-radius: 5px;
      padding: 5px; }
    #register .form button {
      width: 100%; }
  #register .hide {
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear; }
  #register .show {
    opacity: 1;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear; }
